@using LuvFinder_Blazor_WASM.Services;
@using LuvFinder_ViewModels;
@inject IProfileService ProfileService
@inject FriendCountStateContainer FriendCountStateContainer

<button class="nav-link" id="nav-friends-tab" data-bs-toggle="tab"
        data-bs-target="#friends" type="button" role="tab" aria-controls="friends"
        aria-selected="false">
    Friends <span class="item-number">@FriendCountStateContainer.Count</span>
</button>

@code {

    [Parameter]
    public string UserName { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(UserName))
            FriendCountStateContainer.LoadCount(UserName);
    }

    protected override void OnInitialized()
    {
        FriendCountStateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        FriendCountStateContainer.OnChange -= StateHasChanged;
    }
}
