@if (string.IsNullOrEmpty(ChatWith))
{
    <ChatSummary SetChatWith="@SetChatWith"></ChatSummary>
}
else
{
    <div class="go-back-container" @onclick="() => SetChatWith(string.Empty)">
        <i class='fas fa-arrow-left'></i>
        <a>Go Back</a>
    </div>
    <ChatMessage_Container ChatWithUser="@ChatWith"></ChatMessage_Container>
}
@code {
    private string ChatWith { get; set; } = string.Empty;
    public void SetChatWith(string username)
    {
        ChatWith = username;
    }
}
