@using LuvFinder_Blazor_WASM.Services;
@using LuvFinder_ViewModels;
@inject BlogCountStateContainer BlogCountStateContainer

<button class="nav-link" id="nav-blogs-tab" data-bs-toggle="tab"
        data-bs-target="#blogs" type="button" role="tab" aria-controls="blogs"
        aria-selected="false">
    Blogs <span class="item-number">@BlogCountStateContainer.Count</span>
</button>
<div class="highlight-error">@Error</div>

@code {

    [Parameter]
    public string UserName { get; set; }
    public string Error { get; set; }
    public int Count { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        try
        {
            if (!string.IsNullOrEmpty(UserName))
                BlogCountStateContainer.LoadCount(UserName);
        }
        catch (Exception exc)
        {

            Error = exc.Message;
            StateHasChanged();
        }
    }
    protected override void OnInitialized()
    {
        BlogCountStateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BlogCountStateContainer.OnChange -= StateHasChanged;
    }
}
