@using LuvFinder_Blazor_WASM.Services;
@using LuvFinder_ViewModels;
@inject IBlogService BlogService

<button class="nav-link" id="nav-blogs-tab" data-bs-toggle="tab"
        data-bs-target="#blogs" type="button" role="tab" aria-controls="blogs"
        aria-selected="false">
    Blogs <span class="item-number">@Count</span>
</button>
<div class="highlight-error">@Error</div>

@code {

    [Parameter]
    public string UserName { get; set; }
    public string Error { get; set; }
    public int Count { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        try
        {
            if (!string.IsNullOrEmpty(UserName))
            {
                Count = await BlogService.BlogCount(UserName);
                StateHasChanged();
            }
        }
        catch (Exception exc)
        {

            Error = exc.Message;
            StateHasChanged();
        }
    }
}
