@page "/viewprofile/{UserName}"
@using LuvFinder_Blazor_WASM.Services;
@using LuvFinder_ViewModels;
@inject IProfileService ProfileService
@inject IAuthenticationService AuthenticationService
 
  <section class="profile-section padding-tb" style="padding-top:12%;">
        <div class="container">
            <div class="section-wrapper">
                <div class="member-profile">
                <BannerInfo UserInfo="@UserInfo"></BannerInfo>
                <div class="profile-details"> 
                        <nav class="profile-nav">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                aria-selected="true">Profile</button>
                                <BlogCount UserName="@UserName"></BlogCount>
                        </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            @* {/*Profile tab */} *@
                            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="row">
                                        <div class="col-xl-8">
                                         <article>
                                        <BasicInfo UserInfo="@UserInfo"></BasicInfo>
                                        <ProfileQuestons UserName="@UserInfo?.UserName"></ProfileQuestons>
                                        </article>
                                        </div>
                                        @* {/* Aside Part */} *@
                                        <div class="col-xl-4">
                                            <AsideSearch></AsideSearch>
                                        </div>
                                    </div>
                            </div>
                            @* {/*Blog tab*/} *@
                            <div class="tab-pane fade" id="blogs" role="tabpanel" aria-labelledby="nav-blogs-tab">
                                <div class="container blog-section">
                                    <div class="main-blog">
                                        <div class="row">
                                            <div class="col-lg-8 col-12">
                                            <CascadingValue Name="UserName" Value="@UserInfo?.UserName">
                                                <BlogView  ></BlogView>
                                            </CascadingValue>
                                            </div>
                                            <div class="col-lg-4 col-12">
                                                <AsideSearch></AsideSearch>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <div class="highlight-error">@Error</div>


@code {


    [Parameter]
    public string? UserName { get; set; }

    private UserInfo UserInfo { get; set; }
    public string Error { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            UserInfo = await ProfileService.UserInfo(UserName);
        }
        catch(Exception exc)
        {
            Error = exc.Message;
            StateHasChanged();
        }
    }
}
