@using LuvFinder_ViewModels;

<div>Selected Blog @Blog.ID</div>
<div>Title @Blog.Title</div>
<button class="filters-button-group"
@onclick="@(() => SetSelectedBlogID.InvokeAsync(No_Blog_Selected))">
    Back
</button>

@code {
    [Parameter]
    public LuvFinder_ViewModels.Blog Blog{ get; set; }

    [Parameter]
    public int No_Blog_Selected { get; set; }

    [Parameter]
    public EventCallback<int> SetSelectedBlogID { get; set; }
}
