@using LuvFinder_Blazor_WASM.Services;
@inject IAuthenticationService AuthenticationService
@inherits LayoutComponentBase
 
@* Header *@
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="header-top-area">
                <ul class="left">
                    <li>
                        <i class="icofont-ui-call"></i> <span>+800-123-4567 6587</span>
                    </li>
                    <li>
                        <i class="icofont-location-pin"></i> Beverley, New York 224 USA
                    </li>
                </ul>
                <ul class="social-icons d-flex align-items-center">
                    <li>
                        <p>
                            Find us on :
                        </p>
                    </li>
                    <li>
                        <a href="/#" class="fb"><i class="icofont-facebook-messenger"></i></a>
                    </li>
                    <li>
                        <a href="/#" class="twitter"><i class="icofont-twitter"></i></a>
                    </li>
                    <li>
                        <a href="/#" class="vimeo"><i class="icofont-vimeo"></i></a>
                    </li>
                    <li>
                        <a href="/#" class="skype"><i class="icofont-skype"></i></a>
                    </li>
                    <li>
                        <a href="/#" class="rss"><i class="icofont-rss-feed"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="/">
                        <img src="assets/images/logo/logo.png" alt="logo" />
                    </a>
                </div>
                <div class="menu-area">
                    <ul class="menu">
                        <li>
                            <a href="/">Home</a>
                        </li>

                        <li>
                            <a href="newpage">Features</a>
                            <ul class="submenu">

                                <li><a href="members.html">All Members</a></li>

                                <li><a href="profile.html">Member Profile</a></li>

                                <li><a href="login.html" class="active">Login</a></li>

                                <li><a href="signup.html">Sign Up</a></li>

                                <li><a href="pricing-plan.html">Pricing Plan</a></li>

                                <li><a href="404.html">404 Page</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="/search">Search</a>
                        </li>

                        <li>

                            <a href="#0">Blog</a>

                            <ul class="submenu">

                                <li><a href="blog.html">Blog</a></li>

                                <li><a href="blog-single.html">Blog Single</a></li>

                            </ul>

                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <div class="login-signout-container">
                        <button class="username">
                            <NavLink href="@(AuthenticationService.User == null ? "login": "/editprofile")">
                                <i class="icofont-user"></i> <span>@(AuthenticationService.User == null ? "LOG IN" : AuthenticationService.User.FirstName + AuthenticationService.User.LastName)</span>
                            </NavLink>
                        </button>
                        <button class="logout">
                            <NavLink href="logout">
                                <i class="icofont-users"></i> <span>@(AuthenticationService.User == null ? "SIGN UP" : "LOG OUT")</span>
                            </NavLink>
                        </button>
                    </div>

                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="ellepsis-bar d-lg-none">
                        <i class="icofont-info-square"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
@* Header *@
@* so that the header is always visible *@
<script src="../assets/js/functions.js"></script>
@Body

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />