@page "/completedprofile"

<PageHeader></PageHeader>
<div class="container">
    <div class="text-center profile-complete-container">
        <div class="upload-page-title">Congratulations. Your profile is complete</div>
        <div class="upload-page-sub-title"><i>Good luck in finding love!</i></div>
    </div>
</div>

@code {

}
